
.Login{
  font-size: 30px;
  margin-left: 40%;
  color:brown;
  font-weight: bold;
}
.Submit{
  font-size: 20px;
  margin-left: 40%;
  border-radius:8px;
  padding: 8px;
  border:white;
  color:white;
  background-color: brown;
}
.Submit:hover{
  background-color:chocolate;
}
.In{
  border: white;
  font-size: 15px;
  border-radius: 5px;
  text-decoration:solid;
  padding: 5px;
}
.Lab{
  margin-left: 10%;
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  color: brown;
}
.He{display: block;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-left: 40%;
  margin-top: 20%;
  position: absolute;
}

